* {
  margin: 0px auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  box-sizing: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/spacebg.png");
  font-family: "Poppins", sans-serif;
  background-repeat: repeat-y;
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  width: 100%;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

#picandname {
  padding-top: 80px;
  margin: 130px auto 0 auto;
}

.row {
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.445);
  width: 100%;
}

.col {
  margin: auto;
}

h1 {
  font-family: "Yellowtail", cursive;
  color: #f8f9fa;
  text-shadow: 5px 5px #000000;
}

h2 {
  font-family: "Rokkitt", serif;
  font-size: 2.5rem;
  color: #f8f9fa;
  text-shadow: 5px 5px #000000;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
}

span {
  color: white;
}

p {
  font-weight: normal;
  line-height: 2;
  color: white;
}

.linkedIn {
  color: rgb(202, 202, 202);
}

.linkedIn:hover {
  color: white;
  text-decoration: none;
}

.contact-container {
  width: 50%;
}

.form {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.445);
}

.footer {
  background-color: #f8f9fa;
  padding: 50px 0 20px 0;
  margin: -10px -10px;
  text-align: center;
}

hr {
  border: dotted #f8f9fa 6px;
  text-shadow: 5px 5px #000000;
  width: 40%;
  border-bottom: none;
}

a {
  color: black;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #494949;
  text-decoration: none;
}

img:hover {
  border: 1px #c5c5c5 solid;
}

img:hover + span {
  color: #f8f9fa;
}

.projects {
  margin: 200px auto 200px auto;
}

.copyright {
  color: #000000;
  font-size: 0.75rem;
  padding: 20px 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orangered;
  }
}

/* mobile */

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }

  h2 {
    font-size: 1rem;
  }

  .projects {
    margin-left: 15px;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 200px;
    }
  }
}
